
/.godot/shader_cache/SceneForwardMobileShaderRD/8df1231e2a4f7426c5be02d85c85d01889ecf97324b428d709c2736a793b1404
/.godot
/.godot/editor
*.bin
.godot/editor/script_editor_cache.cfg
.godot/editor/filesystem_update4
.godot/editor/editor_layout.cfg
